@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap"); */
@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  background-color: rgb(251, 249, 247);
}
.shadow {
  box-shadow: 0px -8px 10px lightgrey;
}

@layer utilities {
  @variants responsive {
    .contain {
      max-width: 976px;
      margin: auto;
      padding: 0px;
    }

    .contain-mobile {
      padding: 0px 25px;
    }
  }
}

.course-nav {
  @apply bg-white py-3 px-5 rounded-md drop-shadow-sm flex-col items-center min-w-[140px] hover:cursor-pointer hover:font-semibold;
}

.course-nav-active {
  @apply bg-white py-3 px-5 rounded-md drop-shadow-sm flex-col items-center min-w-[140px]  hover:cursor-pointer;
}

.course-nav-active h3 {
  @apply font-bold text-primary;
}
